*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.cache/
.coverage*
.tox/
docs/site/
**/.hypothesis/

/.install.*.bash.inc
/.python-version
.DS_Store

.ipynb_checkpoints/
venv/
my_db_config.yaml
database.yaml
database*.yaml
dirtyduck/triage/**

*~
**/trained_models/**
**/matrices

*.swp
src/triage/component/postmodeling/postmodeling_tmp.ipynb
src/triage/component/postmodeling/model_class_testing.py
src/triage/component/postmodeling/model_class_testing.ipynb
src/triage/component/postmodeling/model_groups_testing.ipynb

# jupyter book built
cookbook/_built/.*