*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.cache/
.coverage*
.tox/
docs/site/
**/.hypothesis/

/.install.*.bash.inc
/.python-version

.ipynb_checkpoints/
venv/
my_db_config.yaml
database.yaml
dirtyduck/triage/**

*~
**/trained_models/**
**/matrices
