SQLAlchemy
PyYAML
psycopg2
python-dateutil
scipy
sklearn
tables==3.3.0
pandas
boto3
click
inflection
numpy>=1.12
sqlalchemy-postgres-copy
retrying
results-schema>=1.2
git+https://github.com/dssg/timechop.git@v0.1.4
collate==0.2.1
matrix-architect==0.3
model-catwalk>=0.3
metta-data==0.3.0
