SQLAlchemy
GeoAlchemy2
PyYAML
psycopg2
python-dateutil
scipy
sklearn
tables
pandas
boto3
collate
click
inflection
git+git://github.com/dssg/timechop.git@master
git+git://github.com/dssg/metta-data.git
