-r requirements.txt

git+git://github.com/dssg/timechop.git@master
git+git://github.com/dssg/collate.git@master
git+git://github.com/dssg/architect.git@master
git+git://github.com/dssg/metta-data.git

testing.postgresql
moto<1.0

pip==8.1.2
bumpversion==0.5.3
wheel==0.29.0
watchdog==0.8.3
flake8==3.3.0
tox==2.3.1
coverage==4.1
Sphinx==1.4.8

pytest==2.9.2
pytest-cov
codecov
