site_name: Triage Documentation
theme: readthedocs
docs_dir: sources
repo_url: http://github.com/dssg/triage
edit_uri: blob/master/docs/templates
site_description: 'Documentation for Triage.'

markdown_extensions:
    - toc:
        permalink: True
        baselevel: 2
extra_javascript:
    - "js/mermaid.min.js"

pages:
  - Home: index.md
  - Dirty Duck Tutorial: https://dssg.github.io/dirtyduck
  - Experiment:
    - Defining an Experiment: experiments/defining.md
    - Testing Feature Configuration: experiments/feature-testing.md
    - Running an Experiment: experiments/running.md
    - Upgrading an Experiment: experiments/upgrading.md
    - Temporal Validation Deep Dive: experiments/temporal-validation.md
    - Cohort and Label Deep Dive: experiments/cohort-labels.md
    - Feature Generation Recipe Book: experiments/features.md
    - Experiment Algorithm: experiments/algorithm.md
    - Experiment Architecture: experiments/architecture.md
    - Extending Experiment Features: experiments/extending-features.md
  - Audition: https://github.com/dssg/triage/tree/master/src/triage/component/audition
  - Postmodeling: https://github.com/dssg/triage/tree/master/src/triage/component/postmodeling
